#gamescreen
{
	-fx-background-image: url("../backgroundimages/mainScreen.PNG");
	-fx-background-repeat: none;
	-fx-background-size: stretch;
	-fx-text-align: center;
}

.button
{
	-fx-text-fill: white;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-background-color: transparent;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}